header {
    height: 100%;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

section {
    padding-bottom: 100px;
}

.headerContainers {
    background-image: url("../img/Awards-Food.jpg");
    background-position: center;
    background-size: cover;
}

.centerH {
    font-family: 'Lemonada', cursive;
}

.judul {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container>div {
    flex: 1 49%;
    border: solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.item {
    width: 100%;
}

.container p {
    padding: 10px;
}

.container img {
    margin-top: 20px;
    height: 150px;
}

.grid1 {
    background-color: aquamarine;
}

.grid2 {
    background-color: darkseagreen;
}

.grid3 {
    background-color: coral;
}

.grid4 {
    background-color: goldenrod;
}

.caption {
    font-size: 10px;
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    color: #333333;
    background-color: #333333;
    width: 75%;
    margin: auto;
}