/* general */

section {
    margin-bottom: 100px;
}


/* header */

header {
    height: 100%;
}

.containers {
    background-image: url("../img/wp1865851-jakarta-wallpapers.jpg");
}

.containers .centerH {
    color: whitesmoke;
    font-family: 'Courgette', cursive;
}


/* main */

p {
    letter-spacing: 2px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: justify;
    font-size: 16px;
    text-indent: 26px;
}

.row {
    margin-top: 50px;
}

img {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.col-sm-5 {
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.col-sm-5 img {
    margin: auto;
    display: block;
}

.row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row {
    overflow: hidden;
}